.profile__avatar-edit-button {
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  background: url(../../../images/profile-avatar-edit-button.svg);
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.profile__avatar-edit-button:hover {
  opacity: 1;
}
