.popup__close-button {
  border: 0;
  padding: 0;
  background: url(../../../images/popup-close-button.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.popup__close-button:hover {
  opacity: .6;
}

@media all and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
    background-size: cover;
  }
}
