.element__trash-button {
  border: 0;
  padding: 0;
  background: url(../../../images/element-trash-button.svg);
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.element__trash-button:hover {
  opacity: .6;
}
