.profile__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: white;
}

@media all and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 0px;
    text-align: center;
  }
}
