.profile__add-button {
  border: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: url(../../../images/profile-add-button.svg);
  transition: opacity 0.2s linear;
}

.profile__add-button:hover {
  opacity: .6;
}

@media all and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    background: url(../../../images/profile-add-button-320.svg);
  }
}
