.header {
  margin: 0 auto;
  padding-top: 45px;
  max-width: 880px;
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media all and (max-width: 1023px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
  }
}
