.element__like-button {
  margin-right: 20px;
  border: 0;
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  background: url(../../../images/element-like-button.svg);
  transition: opacity 0.2s linear;
}

.element__like-button:hover {
  opacity: .5;
}
